<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ExamenServlet</servlet-name>
        <servlet-class>SERVLET.ExamenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstuServlet</servlet-name>
        <servlet-class>SERVLET.EstuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotasServlet</servlet-name>
        <servlet-class>SERVLET.NotasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminitradorServlet</servlet-name>
        <servlet-class>SERVLET.AdminitradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorServlet</servlet-name>
        <servlet-class>SERVLET.ProfesorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>SERVLET.AlumnoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamenServlet</servlet-name>
        <url-pattern>/ExamenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstuServlet</servlet-name>
        <url-pattern>/EstuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotasServlet</servlet-name>
        <url-pattern>/NotasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminitradorServlet</servlet-name>
        <url-pattern>/AdminitradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorServlet</servlet-name>
        <url-pattern>/ProfesorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/AlumnoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
